{% form_theme form '/blog/bootstrap_3_layout.html.twig' %}
{% extends '::layout_back.html.twig' %}

{% block body -%}
    <h1>Categorie création</h1>
    <div class="well">
        {{ form(form) }}
    </div>

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_categorie') }}">
                Retour à la liste
            </a>
        </li>
    </ul>

{% endblock %}
