{% extends "::layout_appbundle.html.twig" %}

{% block title %}{{parent()}} - Ajouter {% endblock %}

{% block contenu %}
    <p>Ajouter</p>
    {%include':blog:formulaire.html.twig'%}

{% endblock %}