{% extends "::layout_appbundle.html.twig" %}

{% block title %}{{parent()}} - Accueil {% endblock %}

{% block contenu %}

    <p>Accueil Page : {{ page }}</p>
    {% for article in articles %}
        <article >
            <h3>{{article.titre}}</h3>
            <p class="well">{{article.contenu|raw}}</p>

        </article>
        <hr/>
    {%else%}
        <p class="alert alert-warning">Ancun article trouvé.</p>
    {%endfor%}


{% endblock %}
